body{
    background-color: green;
    
    }
main{
    display: inline-block;

    }
    
header{
    display: inline-block;
    }

    img
     {
        display: inline-block;
     }

     nav{
        display: inline-block;

     }

     a{
        display: inline-block;


     }
section {
    display: inline-block;
    
    }
    img
     {
        display: inline-block;
     }

     div{
        display: inline-block;

     }

     a{
        display: inline-block;

        
     }
 